<div class="container">

    <div class="jumbotron">
      <div class="container">

        <div class="col-md-6">
        <h1>Eat da Burger!</h1>
        <p>Add a burger and devour it!</p>
        <br>
        <h2>Cook a Burger</h2>

            <form class="create-form">
                <div class="form-group">
                    <label for="newburger">New Burger:</label>
                    <input type="text" id="newburger" name="burger">

                    <button type="submit" id="addburger">Add Burger</button>
                </div>
            </form>

        </div>
        <div class="col-md-6">
        </div>
          </div>
    </div>

    <div class="container">
        <!-- Undevoured Burgers -->
        <div class="col-md-6">

                <div><strong>New Burgers</strong></div>

                    <ul>
                        {{#each burgers}}
                            {{#unless devoured}}
                                <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                                <button type="button" class="eatburger" id ="eatbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}">EAT IT</button>
                                <hr>
                            {{/unless}}
                        {{/each}}
                    </ul>


        </div>
        <!-- Devoured Burgers -->
        <div class="col-md-6">

                <div><strong>Devoured Burgers</strong></div>

                    <ul>
                        {{#each burgers}}
                            {{#if devoured}}
                                <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                                <button type="button" class="removeBurger" id ="trashbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}">Remove Burger</button>
                                <hr>
                            {{/if}}
                        {{/each}}
                    </ul>

        </div>
    </div>

</div>
